<!DOCTYPE html>
<html lang="en" ng-app="financas">
<head>
    <meta charset="UTF-8">
    <title>Transações</title>
    <link href="index.css" rel="stylesheet" >
    <link href="../../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >

    <script type="text/javascript" src="../../libs/angular/angular.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#inicio">Inicio</a>
        </div>
    </div>
</nav>

<div id="inicio" class="main-content container" ng-controller="Transacoes">
    <form name="transacaoForm" ng-submit="onSubmit()" ng-hide="submitted" novalidate="novalidate">

        <div class="form-group" >
            <label for="nome" class="control-label">Nome</label >
            <input type="text"
                   class="form-control"
                   ng-model="nome"
                   id="nome" >
        </div >

        <div class="form-group"
                ng-class="{
                    'has-error': transacaoForm.valor.$invalid && !transacaoForm.$pristine,
                    'has-sucess': transacaoForm.valor.$valid && !transacaoForm.$pristine
                }">
            <label for="valor" class="control-label">Valor</label >
            <input type="number"
                   name="valor"
                   class="form-control"
                   ng-model="valor"
                   id="valor"
                   min="0"
                   max="100"
                   required="required">
            <p class="help-block" ng-show="transacaoForm.valor.$error.required">
                Esse campo é obrigatorio
            </p>
            <p class="help-block" ng-show="transacaoForm.valor.$error.max || transacaoForm.valor.$error.min">
                Insira um valor maior que 0 e menor que 100
            </p>
        </div >

        <div class="form-group" >
            <label for="tipo" class="control-label">Tipo</label >
            <select id="tipo"
                    class="form-control"
                    ng-model="formModel.tipo">
                <option value="" >Porfavor selecione</option >
                <option value="DEBITO" >Debito</option >
                <option value="CREDITO" >Credito</option >
            </select >
        </div >

        <div class="form-group">
            <button class="btn btn-primary"
                    ladda="submitting"
                    data-style="expand-right"
                    type="submit">
                Cadastrar
            </button>
        </div>

        <pre>{{transacaoForm | json}}</pre>
    </form >
</div>

<script type="text/javascript" src="index.js"></script>

</body>
</html>